.calendar {
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.calendar-week-day,
.calendar-header,
.calendar-day-hover {
    font-size: calc(11px + 4 * (100vw / 1280));
}

.light .calendar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;  
        grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div:nth-child(1) {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.calendar-week-day div:nth-child(2) {
	-ms-grid-column: 3;
	-ms-grid-row: 1;
}

.calendar-week-day div:nth-child(3) {
	-ms-grid-column: 5;
	-ms-grid-row: 1;
}

.calendar-week-day div:nth-child(4) {
	-ms-grid-column: 7;
	-ms-grid-row: 1;
}

.calendar-week-day div:nth-child(5) {
	-ms-grid-column: 9;
	-ms-grid-row: 1;
}

.calendar-week-day div:nth-child(6) {
	-ms-grid-column: 11;
	-ms-grid-row: 1;
}

.calendar-week-day div:nth-child(7) {
	-ms-grid-column: 13;
	-ms-grid-row: 1;
}

.calendar-week-day div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 15px; */
}

.calendar-days {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
        grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
}

.calendar-days div {
    width: auto;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date::before {
    content: "";
    display: inline-block;
    border-color: rgba(0,0,0,.2) transparent #3f80ea;
    border-style: solid;
    border-width: 0 0 7px 7px;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.calendar-days div.sel-date::before {
    content: "";
    display: inline-block;
    border-color: rgba(0,0,0,.2) transparent #44eb5a;
    border-style: solid;
    border-width: 0px 7px 7px 7px;
    position: absolute;
    bottom: 5px;
    right: 30px;
    left: 17.8px
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    display: grid;
    display: -ms-grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 20px;
    -ms-grid-columns: auto auto auto; 
        grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    display: -ms-grid;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    display: -ms-grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}