main {
    padding: 0 !important;
}

.row-settings {
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row-chart {
    width: 98%;
}

.row-chart .col .row {
    margin: 5px;
}

.chip {
    width: 80px;
}

#chartWrapper, #chartWrapper2, #chartWrapper3 {
    position: relative;
    height: calc(91vh - 60px - 20px - 20px);
}